
/* ------------------------------ */
/* ---  VARIABLES  -------------- */
/* ------------------------------ */


:root {
    --background-color-primary: rgb(0, 5, 25);
    --background-color-secondary: rgb(25 40 50);
    --background-color-secondary-hover: rgb(35 55 75);
    --text-color-regular: white;
    --text-color-selected: rgb(225, 255, 0);
    --border-color-regular: white;
    --standard-border-style: 1px solid var(--border-color-regular);
    --footer-border-style: 1px solid rgb(200, 200, 200);
}


/* ------------------------------ */
/* ---  Generic tag styling  ---- */
/* ------------------------------ */


html {
    font-family: monospace;
    color: var(--text-color-regular);
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:link, a:visited, a:active {
    color: inherit;
}


/* -------------------------------------- */
/* ---  Basic page structure, layout  --- */
/* -------------------------------------- */


.section-heading {
    font-size: 2.0rem;
    margin: 0 0 75px 0;
}

.stripe-separator {
    height: 15px;
    width: 100%;
    background: repeating-linear-gradient(
        45deg,
        var(--border-color-regular),
        var(--border-color-regular) 2px,
        var(--background-color-secondary) 2px,
        var(--background-color-secondary) 10px
    );
    border-top: 2px solid var(--border-color-regular);
    border-bottom: 2px solid var(--border-color-regular);
}


/* ------------------------------------ */
/* ---  MAIN section  ----------------- */
/* ------------------------------------ */


#main-wrapper {
    display: flex;
    position: relative;
}

#main-background-img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#main-foreground {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 125px;
    width: 90%;
    min-width: 700px;
    max-width: 900px;
    box-sizing: border-box;
    border: var(--standard-border-style);
    background: var(--background-color-primary);
}

#main-logo {
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-right: var(--standard-border-style);
    background: var(--background-color-primary);
}

#main-header-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#topic-intro {
    height: 60%;
    font-size: 2.0rem;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: var(--standard-border-style);
}

#main-header-topics {
    width: 100%;
    height: 40%;
    display: table;
    table-layout: fixed;
}

.topic-heading {
    display: table-cell;
    height: 100%;
    border-left: var(--standard-border-style);
    font-size: 0.9rem;
    vertical-align: middle;
    text-align: center;
}

.topic-heading-first {
    border-left-style: unset;
}

#main-text-title-wrapper {
    width: 90%;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 75px;
}

#main-text-title {
    padding: 10px 20px;
    margin: 0;
    border: var(--standard-border-style);
    border-bottom-style: hidden;
    background: var(--background-color-primary);
    box-sizing: border-box;
    font-size: 1.5rem;
}

.main-text-title-em {
    color: var(--text-color-selected);
    text-transform: capitalize;
}

#main-text-wrapper {
    width: 90%;
    min-width: 700px;
    max-width: 900px;
    padding: 40px;
    box-sizing: border-box;
    border: var(--standard-border-style);
    background: var(--background-color-primary);
}

.main-text {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    line-height: 22px;
    margin: 0 0 20px 0;
}

.clickable.selected {
    background: var(--background-color-secondary-hover);
    color: var(--text-color-selected);
}

.clickable:not(.selected):hover {
    background: rgba(255, 255, 255, 0.5);
}

.arrow-wrapper {
    display: none;
}


/* ------------------------------------------- */
/* ----- Mailchimp signup form --------------- */
/* ------------------------------------------- */


#mailchimp-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0 100px 0;
    background: var(--background-color-primary);
}

#mc-signup-form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.mc-field-group {
    padding: 0 15px;
}

.mc-field-group input {
    background-color: rgba(0, 0, 0, 0);
    color: var(--text-color-regular);
    border: var(--standard-border-style);
    height: 25px;
    font-family: monospace;
    text-align: center;
}

.mc-field-group input::placeholder {
    font-style: italic;
    color: rgb(170, 170, 170);
}

div.mce_inline_error {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: palevioletred;
}

#mce-FNAME {
    width: 100px;
}

#mce-LNAME {
    width: 100px;
}

#mce-EMAIL {
    width: 200px;
}

.optionalParent {
    padding: 0 15px;
}

#mc-embedded-subscribe {
    background-color: white;
    height: 29px;
    color: black;
    border: none;
    font-family: monospace;
}


/* ------------------------------------ */
/* ---  EVENTS section  --------------- */
/* ------------------------------------ */


#section-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-color-secondary);
    padding: 80px 0 100px 0;
}

#events-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.event-box {
    min-height: 175px;
    width: 280px;
    max-width: 70%;
    border: var(--standard-border-style);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    margin: 0 20px;
    cursor: pointer;
}

.event-box:hover {
    border-color: var(--text-color-selected);
    background: var(--background-color-secondary-hover);
}

.event-title {
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.event-details {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 25px;
    line-height: 17px;
}

.event-description {
    width: 100%;
    font-size: 1.0rem;
}


/* ------------------------------ */
/* ---  FOOTER section  --------- */
/* ------------------------------ */


#section-footer {
    padding: 50px 0 25px 0;
    background: var(--background-color-primary);
}

#footer-contents {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 40px 0 20px 0;
}

#footer-logo {
    height: 75px;
    padding-right: 50px;
    border-right: var(--footer-border-style);
}

.footer-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
}

.footer-vertical-heading {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 1px;
}

.footer-vertical a {
    font-size: 0.9rem;
    margin-top: 5px;
    width: fit-content;
}

#copyright-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

#copyright-text-wrapper {
    width: 80%;
    margin-top: 40px;
    padding-top: 15px;
    border-top: var(--footer-border-style);
    font-size: 0.7rem;
}

#copyright-text-wrapper a:hover {
    border-bottom: var(--footer-border-style);
}


/* ---------------------------------------------------- */
/* ----- CSS for NARROW WINDOW / MOBILE --------------- */
/* ---------------------------------------------------- */


@media only screen and (max-width: 800px) {


    /* ---  GENERAL ----------------------- */

    .section-heading {
        margin: 0 0 40px 0;
    }


    /* ---  INTRO section  ---------------- */

    #main-background-img {
        height: 103vh;
    }

    #main-foreground {
        margin-top: 3vh;
    }

    #main-header {
        height: 100px;
        width: 90%;
        min-width: unset;
        max-width: 500px;
    }

    #main-logo {
        padding: 5px;
    }

    #main-header-right {
        width: 100%;
        cursor: unset;
    }

    #topic-intro {
        height: 100%;
        font-size: 1.7rem;
        border-bottom: unset;
    }

    #main-header-topics {
        display: none;
    }

    .topic-heading {
        display: none;
    }

    #main-text-title-wrapper {
        width: 90%;
        min-width: unset;
        max-width:  500px;
        margin-top: 40px;
        justify-content: space-between;
    }

    #main-text-title {
        padding: 10px 15px;
        font-size: 1.0rem;
    }

    #main-text-wrapper {
        width: 90%;
        min-width: unset;
        max-width:  500px;
        padding: 20px 20px 10px 20px;
        box-sizing: border-box;
    }

    .main-text {
        font-size: 1.1rem;
    }

    .arrow-wrapper {
        display: flex;
        margin-right: 5px;
    }

    .arrow-icon {
        height: 25px;
        cursor: pointer;
    }

    #arrow-fwd {
        margin-left: 13px;
    }

    /* ---  EMAIL SIGNUP section  --------- */

    #get-involved-text {
        width: 80%;
        min-width: unset;
        max-width:  500px;
        font-size: 1.2rem;
        margin: 0 0 50px 0;
    }

    #mc-signup-form-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .mc-field-group {
        padding: 12px 0;
    }

    .mc-field-group label {
        margin-right: 5px;
    }

    .mc-field-group label {
        display: inline-block;
        width: 50px;
    }

    .optionalParent {
        margin-top: 12px;
        margin-left: unset;
    }

    /* ---  FOOTER section  ---------------- */

    #footer-contents {
        flex-direction: column;
        align-items: center;
    }

    #footer-logo {
        padding-right: 0;
        padding-bottom: 50px;
        border-right: none;
        border-bottom: var(--footer-border-style);
    }

    .footer-vertical {
        align-items: center;
        padding: 50px 0 0 0;
    }

    #copyright-text-wrapper {
        text-align: center;
    }

}
