
/* ------------------------------ */
/* ---  VARIABLES  -------------- */
/* ------------------------------ */

:root {
    --dark-shading-color: rgba(0, 0, 0, 0.7);
}


/* ------------------------------ */
/* ---  Generic tag styling  ---- */
/* ------------------------------ */


html {
    font-family: monospace;
    color: white;
}

body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:link, a:visited, a:active {
    color: inherit;
}


/* -------------------------------------- */
/* ---  Basic page structure, layout  --- */
/* -------------------------------------- */


.section-heading {
    font-size: 2.0rem;
    margin: 0 0 75px 0;
}


/* ------------------------------------ */
/* ---  MAIN section  ----------------- */
/* ------------------------------------ */


#main-wrapper {
    display: flex;
    position: relative;
}

#main-background-img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#main-foreground {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100%;
    min-width: 700px;
    max-width: 900px;
    box-sizing: border-box;
    border: 1px solid white;
    background: var(--dark-shading-color);
}

#main-logo {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    border-right: 1px solid white;
    background: rgb(0, 25, 50);
}

#main-header-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#topic-intro {
    height: 55%;
    font-size: 1.8rem;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 12px;
    border-bottom: 1px solid white;
}

#main-header-topics {
    width: 100%;
    height: 45%;
    display: table;
    table-layout: fixed;
}

.topic-heading {
    display: table-cell;
    height: 100%;
    border-left: 1px solid white;
    font-size: 1.0rem;
    vertical-align: middle;
    text-align: center;
}

.topic-heading-first {
    border-left-style: unset;
}

#main-text-heading-wrapper {
    width: 100%;
    min-width: 700px;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: start;

}

#main-text-heading {
    padding: 10px 20px;
    margin-top: 50px;
    margin-bottom: 0;
    border: 1px solid white;
    border-bottom-style: hidden;
    background: rgb(0, 25, 50);
    box-sizing: border-box;
    font-size: 1.5rem;
}

.main-text-heading-em {
    color: rgb(225, 255, 0);
    text-transform: capitalize;
}

#main-text-wrapper {
    width: 100%;
    min-width: 700px;
    max-width: 900px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid white;
    background: rgb(0, 25, 50);
}

.main-text {
    font-size: 1.2rem;
    font-weight: 100;
    text-align: left;
    line-height: 22px;
    margin: 0 0 20px 0;
}

.clickable.selected {
    background: rgba(15, 50, 100, 0.75);
    color: rgb(225, 255, 0);
}

.clickable:not(.selected):hover {
    background: rgba(255, 255, 255, 0.5);
}


/* ------------------------------------------- */
/* ----- Mailchimp signup form --------------- */
/* ------------------------------------------- */


#mailchimp-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0 100px 0;
    background: rgb(0, 4, 26);;
}

#mc-signup-form-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.mc-field-group {
    padding: 0 15px;
}

.mc-field-group label {
    margin-right: 5px;
}

.mc-field-group input {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    height: 25px;
    font-family: monospace;
}

div.mce_inline_error {
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: palevioletred;
}

#mce-FNAME {
    width: 100px;
}

#mce-LNAME {
    width: 100px;
}

#mce-EMAIL {
    width: 200px;
}

#mc-embedded-subscribe {
    background-color: white;
    height: 31px;
    color: black;
    border: 1px solid white;
    font-family: monospace;
}


/* ------------------------------------ */
/* ---  EVENTS section  --------------- */
/* ------------------------------------ */


#section-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(25 40 50);
    padding: 80px 0 100px 0;
}

#events-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.event-box {
    height: 200px;
    width: 300px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    margin: 0 20px;
    cursor: pointer;
}

.event-box:hover {
    border-color: yellow;
    background: rgb(35 55 70);
}

.event-title {
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.event-details {
    width: 100%;
    font-size: 0.8rem;
    margin-bottom: 25px;
    line-height: 17px;
}

.event-description {
    width: 100%;
    font-size: 1.0rem;
}


/* ------------------------------ */
/* ---  FOOTER section  --------- */
/* ------------------------------ */


#section-footer {
    padding: 50px 0 25px 0;
    background: rgb(0, 4, 26);
    color: white;
}

#footer-contents {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

#logo-footer {
    height: 75px;
    padding-right: 50px;
    border-right: 1px solid white;
}

.footer-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
}

.footer-vertical-heading {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-top: 0;
    margin-bottom: 1px;
}

.footer-vertical a {
    font-size: 0.9rem;
    margin-top: 5px;
    width: fit-content;
}

#copyright-section {
    display: flex;
    align-items: center;
    justify-content: center;

}

#copyright-text-wrapper {
    width: 80%;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid white;
    font-size: 0.7rem;
}

#copyright-text-wrapper a:hover {
    border-bottom: 1px solid;
}


/* ---------------------------------------------------- */
/* ----- CSS for NARROW WINDOW / MOBILE --------------- */
/* ---------------------------------------------------- */


@media only screen and (max-width: 950px) {


    /* ---  INTRO section  ---------------- */

    /* ---  FOOTER section  ---------------- */

    #footer-contents {
        flex-direction: column;
        align-items: center;
    }

    #logo-footer {
        padding-right: 0;
        padding-bottom: 50px;
        border-right: none;
        border-bottom: 1px solid rgb(175, 175, 175);
    }

    .footer-vertical {
        align-items: center;
        padding: 50px 0 0 0;
    }

}
